div{
    border-style: double;
    border-color: black;
    padding: 20px;
    margin: 1%;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color:
    
}
h1{
    text-align: center;
    font-size: 30px
}
section h2{
    color:#357
}